$gutter: 24px;

$colors: (
    'gray-lightest': #F0F0F0,
    'gray-light': #F9F9F9,
    'gray-medium': #303030,
    'gray-dark': #606060,
    'yellow': #F8CA00,
    'red': #CC181E
);

$indexes: (
    'overlay': 9999
);
